<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Innovative Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73E15AD11BB332D300E0590C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E15AE71BB332D300E0590C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E15AF21BB332D300E0590C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
